 .title_product_list{
     text-align: center;
     margin-top: 33px;
     margin-bottom: 33px;
 }

 .img{
     background-color:#40E0D0 ;
 }
 .issm{
     padding: 5px 0 0 3px;
     
 }
 .btn_seemore{
     text-align: center;
     color: honeydew;
 }